body {
    font-family: 'Arial', sans-serif;
    background-color: #111;
    color: #fff;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

header {
    background-color: #ff5500;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin-top: 10px;
    font-size: 1.2em;
}

footer {
    background-color: #222;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    font-size: 0.9em;
    color: #aaa;
}

h2 {
    text-align: center;
   font-family: 'Segoe UI', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    padding: 15px 25px;
    margin: 20px auto;
    max-width: 600px;

    color: #000000;
    background: linear-gradient(135deg, #ccff00, #25fcea);
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

h3 {
    text-align: center;
    color: rgb(255, 133, 89);
     font-size: 20px;
    line-height: 1.6;
    padding: 15px 25px;
    margin: 20px auto;
    max-width: 600px;
     color: #ffffff;
    background: linear-gradient(135deg, #cb3311, #fcdc25);
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

h4 {
    text-align: center;
    color: #ffffff;
    background: linear-gradient(135deg, #cb3311, #fcdc25);
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

h1 {
     text-align: center;
    color: #ffffff;
    /* background: linear-gradient(135deg, #00d0ff, #5025fc); */
    border-radius: 12px;
    text-shadow: 0 8px 16px rgb(0, 0, 0);

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

p {
    font-family: 'Segoe UI', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    padding: 15px 25px;
    margin: 20px auto;
    max-width: 600px;
    color: #ffffff;
    background: linear-gradient(135deg, #cb3311, #fcdc25);
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

p:hover {
    transform: scale(1.03);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
    cursor: default;
}
h4:hover {
    transform: scale(1.03);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
    cursor: default;
}
h3:hover {
    transform: scale(1.03);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
    cursor: default;
}
h2:hover {
    transform: scale(1.03);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
    cursor: default;
}


.cont-video{
    margin-top: 50px;
    margin-bottom: 50px;
}

.nemozlvi-rivni{
    margin-top: 70px;
}
li{
    text-align: center;
}